<main class="holder">
			<div class="cycle-slideshow homeimg" data-cycle-fx=scrollHorz
				data-cycle-timeout=2000>
				<!-- empty element for overlay -->
				<div class="cycle-overlay"></div>
				<img src="images/home/img01.jpg" data-cycle-title="Avion"
					data-cycle-desc="Me encanta viajar" alt="Avion">
				<img src="images/home/img02.jpg" data-cycle-title="Camiones"
					data-cycle-desc="Buenos camiones" alt="02">
				<img src="images/home/img03.jpg" data-cycle-title="Barcos"
					data-cycle-desc="Barcos de transporte" alt="Avion">
				<img src="images/home/img04.jpg" data-cycle-title="Ruta"
					data-cycle-desc="Recorrido" alt="Avion">
				<img src="images/home/img05.jpg" data-cycle-title="Deposito"
					data-cycle-desc="Mercaderia de la marca" alt="Avion">
			</div>
			<div class="columnas">
				<div class="bienvenidos left">
					<h2>Bienvenidos</h2>
					<p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
						consequatur obcaecati ut iste nulla ducimus, expedita perspiciatis ipsam,
						quis, labore, saepe quibusdam similique esse autem ex itaque corrupti
						totam. Eius.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vero quo ad
						quia distinctio. Provident at aperiam sapiente eos, magni ipsum, ea eum,
						harum voluptatum nisi rerum labore eaque odio.</p>
				</div>
				<div class="testimonios right">
					<h2>Testimonios</h2>
					<div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-speed="1000"
						data-cycle-slides="div">
						<!-- se indica que se utiliza con div -->
						<div class="testimonio">
							<span class="cita">Simplemente excelente</span>
							<span class="autor">Juan Perez - Zapatos.com</span>
						</div>
						<div class="testimonio">
							<span class="cita">excelente</span>
							<span class="autor">Rosa Della</span>
						</div>
						<div class="testimonio">
							<span class="cita">Muy buena atencion</span>
							<span class="autor">Martin Sirio</span>
						</div>
					</div>
				</div>
			</div>
		</main>
		{{!-- <script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
		{{!-- <script src="/javascripts/jquery.cycle2.min.js"></script> --}}
